body {
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

a {
    transition: color 200ms ease-in;
}

a:hover {
    /* color: #8DFD1B; */
}

h1 {
    color: #111;

}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 85px;
    font-weight: 400;
}

.button p {
    color: #fff;
    display: inline-block;
}

.button img {
    display: inline-block;
    width: 14px;
    height: 11px;
    margin-left: 10px;
}

.button {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 20px 40px;
    border: 1px solid #fff;
    width: fit-content;
}

/*-------------------------------------------*/
.header {
    height: 150px;
    width: 100%;
    padding: 0 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo {}

.menu {}

.menu__wrapper {}

.menu__item {
    margin-right: 58px;
    padding: 10px;
    transition: all 1s;
}

.menu a {
	position: relative;
	color: #111;
	cursor: pointer;
	line-height: 1;
	text-decoration: none; 

}
.menu a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #111;
	content: "";
	transition: width 0.3s ease-out; 
}

.menu a:hover:after,
.menu a:focus:after {
	width: 100%;
}


.menu__item:last-child {
    margin-right: 0px;
}

.socials {
    display: flex;
}

.socials img {
    min-width: 100%;
    min-height: auto
}

.socials__item {
    margin-left: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.socials__item:first-child {
    margin-left: 0px;
}

/*-----------------------MAIN-----------------------*/
.main {}

/*------------INTRO-------------*/
.intro {
    background-image: url('../images/intro.png');
    color: #fff;
    width: calc(100vw - scroll-bar);
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    position: relative;
}

.intro h1 {
    color: #fff;
    font-size: 118px;
    font-family: 'Rozha One';
    font-weight: 400;
}

.intro__wrapper {
    padding: 0 8px;
    max-width: 1440px;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
}

.intro__content-wrapper {
    margin-right: 50px;
    max-width: 700px;
    margin-top: auto;
    margin-bottom: auto;
}

.intro__text {
    max-width: 570px;
    margin-bottom: 45px;
}

.intro__sign {
    font-size: 9em;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
}

.intro__sign p {
    line-height: 150px;
    color: transparent;
    -webkit-text-stroke: 0.2px #fff;
    letter-spacing: 0.15em;
}

/*------------01-------------*/

.story {
    width: calc(100vw - scroll-bar);
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #555;
}

.story__wrapper {
    padding: 0 8px;
    max-width: 1320px;
    display: flex;
}

.story__left {
    height: 100vh;
    width: fit-content;
    font-size: 20em;
    font-family: 'Rozha One';
    font-weight: 400;
    letter-spacing: -0.08em;
}

.left__fore {
    width: 100%;
    height: 100%;
    background: white;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}

.story__left h1 {
    background-image: url('../images/bgfor01.png');
    color: transparent;
    background-size: contain;
    -webkit-background-clip: text;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 30vw;
    background-position: 0 100px;
}

.story__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 50px;
}

.story__right h1 {
    font-size: 85px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 104%;
}

.story__right-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}

.story__header {
    max-width: 100px;
}

.story__content {
    margin-left: 110px;
}

.story__text {
    margin-top: 22px;
}

.story .button p {
    color: #111;
}

.story .button {
    padding: 20px 40px 20px 0;
}

/*------------GALLERY-------------*/
.gallery{
    margin-bottom: 50px;
}
.gallery__wrapper {
    max-width: calc(100vw - scroll-bar);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__header h2{
    font-size: 85px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 104%;
}
.gallery__header {
    max-width: 360px;
}
.gallery__header-wrapper {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
}

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    max-height: calc(100vh - 100px);
}

.gallery .button {
    background-color: #111;
    color: #fff;
    margin-top: 75px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}

.column__70 {
    max-height: 70%;
    min-height: 70%;
}

.column__30 {
    max-height: 30%;
    min-height: 30%;
}
/*------------PERSANTAGE&QUOTES-------------*/
.persantages-review {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.persantages-review__wrapper {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.persantages {
    width: 100%;
}
.persantages p{
    display: block;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
}
.persantages__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.persantages__item-inner::after {
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    width: 14.7vw;
    height: 14.7vw;
    position: absolute;

}
.persantages__item-inner {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.item__text{
    right: auto;
    left: auto;
    position: absolute;
    z-index: 1;
}
.persantages__item {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    border: 7px solid #EEE;
    position: absolute;
    z-index: 2;
}
.percentages__item-signature{
    margin-top: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.percentages__item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#per1{
    background-image: linear-gradient(-90deg, #E8E8E8 50%, transparent 50%),
                    linear-gradient(235deg, #ffffff 50%, #E8E8E8 50%);
                }
                #per2{
                    background-image: linear-gradient(-90deg, #E8E8E8 50%, transparent 50%),
                    linear-gradient(198deg, #ffffff 50%, #E8E8E8 50%);
                }
#per3{
    background-image: linear-gradient(-90deg, #E8E8E8 50%, transparent 50%),
                    linear-gradient(172.5deg, #ffffff 50%, #E8E8E8 50%);
                }
#per4{
    background-image: linear-gradient(-90deg, #E8E8E8 50%, transparent 50%),
    linear-gradient(252deg, #ffffff 50%, #E8E8E8 50%);
}


.review {
    width: 80%;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
.review__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.review__commas {
    font-family: 'Rozha One', sans-serif;
    color: #f0f0f0;
    font-size: 20vw;
}
.review__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}
.review__content-item {
    display: none;
    text-align: center;
}
.review__text {
}
.review__info {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
.review__author {
    font-weight: 600;
    margin-right: 5px;
}
.review__position {
    font-weight: 200;
}
.review__divider{
    margin-right: 5px;
}
.review__arrows{
    position: absolute;
    display: flex;
    right: 30px;
    bottom: 90px;
}
.review__arrows img{
    max-width: 50px;
    height: auto;
    width: 100%;
}
.prev{
    margin-right: 10px;
}
.prev, .next {
    cursor: pointer;
    width: auto;
    color: rgb(131, 39, 39);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/*------------VIDEO-------------*/
.video {
    background-image: url('../images/bgforvideo.png');
    width: calc(100vw - scroll-bar);
    height: 100vh;
    overflow: hidden;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.video::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}
.video__wrapper {
    max-width: 1320px;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.video__header {
    max-width: 900px;
}
.video__header h1{
    font-size: 60px;
    font-family: 'Rozha One', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 66px;
}
.video__button {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 32px;
}
.video__button-button {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.video__button-text {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 25px;
}
/*------------ARTICLES  -------------*/
.articles img{
    max-width: 480px;
    max-height: 237px;
    width: 100%;
    height: 100%;
}
.articles {
    width: calc(100vw - scroll-bar);
    display: flex;
    justify-content: center;
}
.articles__wrapper {
    padding: 162px 0;
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.articles__item {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 19px;
}
.articles__header {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 16px;
}
.articles__image {
    margin-bottom: 32px;
}
.article__desc {
    margin-bottom: 7px;
}
.articles__date {
    color: #ACACAC;
    font-weight: 600;
    font-size: 14px;
}
/*------------FEEDBACK-------------*/
.feedback {
    width: calc(100vw - scroll-bar);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.feedback__wrapper {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.feedback__content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.feedback__infos{
    display: flex;
    flex-direction: row;
}
.feedback__header{
    max-width: 490px;
    margin-bottom: 75px;
}
.feedback__header h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 85px;
    line-height: 88.4px;
}
.feedback__info {
}
.feedback__info-header {
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom: 11px;
}
.feedback__info-text {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 23px;
}
.feedback__info-item{
    display: flex;
    text-align: center;
    margin-bottom: 13px;
}
.feedback__info-item:last-child{
    margin-bottom: 31px;
}
.feedback__info-item img{ 
    align-self: center;
    margin-right: 11px;
}
.feedback__info-get-location {
    padding-bottom: 5px;
    border-bottom: 1px solid #111;
}
.feedback__form {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.feedback__form form{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 100%;
}

.feedback__input {
    margin-bottom: 45px;
}
.feedback__input:nth-child(3){
    margin-bottom: 70px;
}
.feedback .button{
    background-color: #000;
    color: #fff;
}
.button:hover{
    cursor: pointer;
}
.feedback input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px solid #111;
    font-family: 'Raleway', sans-serif;
    color: #555;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 16px;
}
/*-----------------------------FOOTER---------------------*/
.footer {
    width: calc(100vw - scroll-bar);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #141414;
    color: #fff;
    flex-direction: column;
}
.footer a{
    color: #DBDBDB;
}
.footer p{
    color: #DBDBDB;
}
.footer__wrapper {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 130px 0;
}
.footer .feedback__info {
    max-width: 25%;
}

.footer .feedback__info-text {
    color: #DBDBDB;
}

.footer__lists {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.footer__newslatter {
    max-width: 25%;
}

.hr{
    height: 20px;
    width: 100%;
    border:none;
    border-top: 1px solid rgb(83, 81, 81);
}
.footer__wrapper-under{
    max-width: 1320px;
    width: 100%;
    color: #DBDBDB;
    padding: 37px 0;
}
.footer input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    color: #DBDBDB;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 16px;
    background-color: #141414;
    width: 100%;
}
.footer input[type=image] {
    margin-top: 6px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 18px;
    background-color: #141414;
    width: fit-content;
    height: fit-content;
}
.footer__form{
    display: flex;
}